<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener</title>
    <link href="./public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>Short The Fuck Up!</h1>
    <h2>You got a big URL? Not anymore you don't!</h2>
    <main>
      <section>
        <form action="/api/shorturl/new" method="POST">
          <fieldset class="container">
            <label for="url_input">Put your damn URL in there!</label>
            <input
              id="url_input"
              type="text"
              name="url"
              placeholder="Anything but pornhub please..."
            />
            <label for="custom-url-input">You can choose your own name</label>
            <div id="custom_url">
              <span>localhost:PORT/api/shortrul/</span>

              <input
                id="custom_url_input"
                type="text"
                name="customUrl"
                placeholder="Shits n' giggles"
              />
            </div>
            <input
              type="submit"
              value="All i do is click, click, click, no matter what"
            />
          </fieldset>
        </form>
      </section>
    </main>
  </body>
</html>
