<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener</title>
    <link href="./public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="/api/shorturl/new" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input
              id="url_input"
              type="text"
              name="url"
              placeholder="Enter URL to shorten here"
            />
            <label for="custom-url-input">CUSTOM URL:</label>
            <input
              id="custom-url-input"
              type="text"
              name="customUrl"
              placeholder="Enter custom URL"
            />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
      </section>
    </main>
  </body>
</html>
